In [9]:
import pandas as pd
from random import randint

Crearemos una serie de pandas
index= una lista con los nombres de los indices en caso de no querer usar numeros

In [7]:
lista = ["Matematicas","historia","economia","programacion","fisica"]
serie = pd.Series(lista,index=["m1","m2","m3","m4","m5"], dtype="string")
#serie[1]
serie["m2"]

'historia'

Se puede crear una serie a partir de un diccionario

In [10]:
dicc = {}
for asignatura in lista:
  dicc[asignatura] = randint(1,10)
print(dicc)

{'Matematicas': 2, 'historia': 6, 'economia': 7, 'programacion': 9, 'fisica': 5}

In [14]:
dicc_serie = pd.Series(dicc)
dicc_serie.values

array([2, 6, 7, 9, 5], dtype=int64)

In [38]:
dicc_serie[["Matematicas","historia"]]
dicc_serie.describe

<bound method NDFrame.describe of Matematicas     2
historia        6
economia        7
programacion    9
fisica          5
dtype: int64>

In [40]:
from math import log

In [41]:
help(log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [42]:
dicc_serie.apply(log)

Matematicas     0.693147
historia        1.791759
economia        1.945910
programacion    2.197225
fisica          1.609438
dtype: float64

In [43]:
dicc_serie[dicc_serie > 5]

historia        6
economia        7
programacion    9
dtype: int64

Aquí se usa un dataframe para preacticar

In [44]:
datos = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'],
'edad':[18, 22, 20, 21],
'grado':['Economía', 'Medicina', 'Arquitectura', 'Economía'],
'correo':['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}

In [47]:
datos_df = pd.DataFrame(data=datos)
datos_df

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com